.bottomNavBar {
	position: fixed;
	bottom: 0;
	width: 100dvw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px 20px;
	background-color: var(--piece-bg-color);
	color: var(--piece-color);
	border-top: 2px solid var(--foreground);
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
	transition:
		transform 0.2s,
		border-color 0.2s,
		background-color 0.4s ease,
		color 0.4s ease,
		box-shadow 0.4s ease;
}

.bottomNavBar button {
	background-color: transparent;
	margin-right: 40px;
	border: 2px solid var(--foreground);
	border-radius: 5px;
	cursor: pointer;
	padding: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition:
		transform 0.2s,
		border-color 0.2s,
		background-color 0.4s ease,
		color 0.4s ease;

	svg {
		color: var(--foreground);
		width: 1.5em;
		height: 1.5em;
		transition: color 0.4s ease;
	}
}

.bottomNavBar button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: #fff;
}
