.task-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	width: calc(100% - 100px);
	box-sizing: border-box;
	border: 1px solid var(--foreground);
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: var(--piece-bg-color);
	margin-left: 50px;
	margin-right: 50px;
	transition: background-color 0.4s ease, border-color 0.4s ease;
}

.task {
	border-bottom: 1px solid var(--foreground);
	padding-bottom: 10px;
	margin-bottom: 10px;
	transition: transform 0.2s, border-color 0.4s ease;

	&:last-child {
		border-bottom: none;
	}
}

.task2 {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.edit-button {
	transition: transform 0.2s, border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
	background-color: var(--piece-bg-color);
	border: 1px solid var(--foreground);
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	svg {
		color: var(--foreground);
		width: 1.5em;
		height: 1.5em;
	}

	&:hover {
		background-color: #b1a9a9;

		svg {
			color: #3f3f3f;
		}
	}
}

.custom-checkbox {
	transition: transform 0.2s, border-color 0.4s ease, background-color 0.4s ease;
	width: 38px;
	height: 38px;
	background-color: var(--piece-bg-color);
	border: 1px solid var(--foreground);
	border-radius: 5px;
	cursor: pointer;
	appearance: none;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:checked {
		background-color: var(--foreground);
	}

	&:hover {
		background-color: #b1a9a9;

		svg {
			color: #3f3f3f;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		background-color: var(--foreground);
		clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 14%, 80% 0%, 43% 62%);
	}

	&:checked::before {
		background-color: var(--piece-bg-color);
	}
}

.center-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.edit-button2 {
	transition: transform 0.2s, border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
	background-color: var(--piece-bg-color);
	border: 1px solid var(--foreground);
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	appearance: none;
	width: 100%;

	svg {
		color: var(--foreground);
		width: 1.5em;
		height: 1.5em;
	}

	&:hover {
		background-color: #b1a9a9;

		svg {
			color: #3f3f3f;
		}
	}
}

.action-button {
	transition: transform 0.2s, border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
	color: var(--foreground);
	background-color: var(--piece-bg-color);
	border: 1px solid var(--foreground);
	border-radius: 5px;
	padding: 8px;
	width: 100px;
	height: 40px;
	cursor: pointer;
	justify-content: center;
	margin: 15px;

	svg {
		color: var(--foreground);
		width: 1.5em;
		height: 1.5em;
	}

	&:hover {
		background-color: #b1a9a9;

		svg {
			color: #3f3f3f;
		}
	}
}

.button-container {
	transition: transform 0.2s, border-color 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-field {
	transition: transform 0.2s, border-color 0.4s ease, background-color 0.4s ease;
	background-color: rgb(158, 154, 154);
	border: 1px solid var(--foreground);
	border-radius: 5px;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 8px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	cursor: text;

	&:hover {
		border-color: var(--piece-bg-color);
		background-color: rgb(200, 200, 200);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.date-editor {
	margin-bottom: 5px;
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.select-container,
.date-picker-container {
	width: 100%;
	margin-bottom: 10px;
}

.select-container select,
.date-picker-container input {
	width: 100%;
}

.editor-image {
	margin-top: 10px;
	margin-bottom: 15px;
}